//- Global Footer
footer.footer
  div#footer-img-container
    a.navbar-btn.icon(href='https://github.com/jakeportanova', title='GitHub')
      img.footer-icon(src='/images/octicons-mark-github.png')
    a.navbar-btn.icon(href='https://www.linkedin.com/in/jakeportanova', title='LinkedIn')
      img.footer-icon(src='/images/linkedin-circle-black.png')
